[submodule "sourcedata/rawdata-bids"]
	path = sourcedata/rawdata-bids
	url = https://github.com/mhaid/datalad_MRIpreprocessing-pipeline-sourcedata-rawdata-bids.git
	datalad-id = b36730ca-3a2f-466c-8947-329a539a605f